<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style>
		.component-fade-enter-active, .component-fade-leave-active {
		  transition: opacity .3s ease;
		}
		.component-fade-enter, .component-fade-leave-to {
		  opacity: 0;
		}
</style>
	</head>
	<body>
		<div class="" id="app">
			<input type="radio" name="view" id="a" value="v-a"  v-model="view"/>
			<input type="radio" name="view" id="b" value="v-b"  v-model="view"/>
			<transition name="component-fade" mode="out-in">
				<component :is="view">
					
				</component>
			</transition>
		</div>
	</body>
	<script type="text/javascript">
	var app = new Vue({
		el:"#app",
		data:{
			view:"v-a"
		},
		components:{
			"v-a":{
				template:"<div>Component A</div>"
			},
			"v-b":{
				template:"<div>Component  B</div>"
			}
		}
	})
	</script>
</html>
